<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.candlebox">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera2.full" />

    <application
        android:name=".CandleStuff.ParseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CandleBox">
        <activity android:name=".CandleStuff.LoginActivity">
        </activity>
        <activity android:name=".CandleStuff.MainActivity"></activity>
        <activity android:name=".CandleStuff.AddActivity"></activity>
        <activity android:name=".CandleStuff.BarcodeScannerActivity"></activity>
        <activity android:name=".CandleStuff.UploadCandle"></activity>
        <activity android:name=".CandleStuff.ThanksActivity"></activity>
        <activity android:name=".CandleStuff.RecentlyScannedActivity"></activity>
        <activity android:name=".SpotifyStuff.SpotifyActivity"></activity>
        <activity android:name=".SpotifyStuff.SpotifyMainActivity"></activity>
        <activity android:name=".SpotifyStuff.SongRecActivity">
        </activity>
        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".SpotifyStuff.SpotifyWebActivity">

        </activity>

        <activity android:name=".SpotifyStuff.MonkeyLearnSentiment">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>